.container {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: white;
  height: 75px;
  border: grey solid 2px;
  width: 25%;
  font-family: monospace;
  font-size: 1.1rem;
  padding: 5px;
  .message {
    overflow: scroll;
    height: 100%;
    width: 100%;
  }
}
